#population {
    width: 650px;
    height: 35px;
    font-size: 16px;
    font-family: Tahoma, Geneva, sans-serif;
    font-weight: bold;
    text-align: center;
	margin-left: auto ;
	margin-right: auto ;
}

#population ul {
    height: auto;
    padding: 8px 0px;
    margin: 0px;
}

#population li { 
display: inline; 
padding: 10px;
margin: 2px; 
cursor: pointer;
background-color: #8AD9FF;
        border-radius: 8px;
}

#population li.saved{
background-color: #00FF00;
        border-radius: 2px;
}

#population li.kill{
background-color: #FF0000;
        border-radius: 2px;
}

.centered{
	margin:0px 0px; padding:0px;
	text-align:center;
}

#instructions {
	width:600px;
	margin: 0px auto;
	padding: 5px;
	border:1px dashed #333;
    text-align: left;
	
}

[picked="true"]{
	border:2px solid;
}